<div class="row">
    <div class="col">
        <h1 class='new'>
            {{ title }}
        </h1>
        <button ng-click='onlyTest()'>Click me!</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <h1>Blog List</h1>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="blogFilter" />
            </div>
        </form>
        <div class="card-columns">
            <div class="card" style: dir-paginate="item in items | filter: blogFilter | itemsPerPage: 5 as postItems" pagination-id="listBlogs">
                <img ng-if="item.image" style="max-height: 200px;" class="card-img-top" ng-src="{{ item.image }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <p class="card-text"><small class="text-muted">{{ item.publishedDate }}</small></p>
                    <a ng-href="#" confirm-click="Are you ready?" confirmed-click="goToItem(item)" class="btn btn-primary">Detail</a>
                </div>
            </div>

            <div ng-if="postItems.length == 0">
                <span>Items not Found</span>
            </div>
        </div>
        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" template-url="/templates/pagination.html" ng-hide="blogFilter.length > 0" pagination-id="listBlogs"></dir-pagination-controls>
    </div>
</div>

<div class="row">
    <div class="col">
        <span ng-if='items.length == 4'>We have 4 blogs</span>
    </div>
</div>



