<div class="row">
    <div class="col">
        <h1 class='new'>
            {{ title }}
        </h1>
        <button ng-click='onlyTest()'>Click me!</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <h1>Blog List</h1>
        <div class="row">
            <div class="card-deck">
                <div class="col-4" ng-repeat="item in items">
                    <div class="card mb-3 mt-3" >
            <!--             <img class="card-img-top" src="" alt="Card image cap"> -->
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                            <p class="card-text"><small class="text-muted">{{ item.publishedDate }}</small></p>
                            <a ng-href="#" confirm-click="Are you ready?" confirmed-click="goToItem(item)" class="btn btn-primary">Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3 mt-3" ng-repeat="column in new_items">
            <div class="col-4" ng-repeat="item in column">
                <div class="img-thumbnail">
                    <h5>{{ item.title }}</h5>
                    <p>{{ item.description }}</p>
                    <p><small class="text-muted">{{ item.publishedDate }}</small></p>
                    <a ng-href="#" confirm-click="Are you ready?" confirmed-click="goToItem(item)" class="btn btn-primary">Detail</a>
                </div>
            </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <span ng-if='items.length == 4'>We have 4 blogs</span>
    </div>
</div>



