<div class="row">
    <div class="col">
        <h1 ng-hide="searchHeader">Blog List</h1>
        <h1 ng-show="searchHeader">Results for "{{ blogFilter }}"</h1>  
        <form>
            <div class="form-group row">
                <label for="filter" class="col-sm-2 col-form-label">Filter</label>
                <div class="col-sm-4">
                    <input id="filter" type="text" class="form-control" ng-model="blogFilter" />
                </div>
            </div>
            <div class="form-group row">
                <label for="order" class="col-sm-2 col-form-label">Order By:</label>
                <div class="col-sm-4">
                    <select id="order" class="form-control" ng-model="ordering">
                        <option value="title">Title</option>
                        <option value="-publishedDate">Start from newer</option>
                        <option value="publishedDate">Start from older</option>
                    </select>
                </div>
            </div>
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" template-url="/templates/pagination.html" ng-hide="blogFilter.length > 0" pagination-id="listBlogs"></dir-pagination-controls>
        </form>
        <div class="card-columns">
            <div class="card" style: dir-paginate="item in items | orderBy: ordering | filter: blogFilter | itemsPerPage: 5 as postItems" pagination-id="listBlogs">
                <a ng-href="/blog/{{ item.id }}" ng-if="item.image"><img ng-if="item.image" style="max-height: 200px;" class="card-img-top" ng-src="{{ item.image }}" alt="Card image cap"></a>
                <div class="card-body">
                    <h5 class="card-title"><a ng-href="/blog/{{ item.id }}">{{ item.title }}</a></h5>
                    <p class="card-text">{{ item.description }}</p>
                    <p class="card-text"><small class="text-muted">{{ item.publishedDate }}</small></p>
                    <a ng-href="/blog/{{ item.id }}" class="btn btn-primary">Detail</a>
                </div>
            </div>

            <div ng-if="postItems.length == 0">
                <span>Items not Found</span>
            </div>
        </div>
        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" template-url="/templates/pagination.html" ng-hide="blogFilter.length > 0" pagination-id="listBlogs"></dir-pagination-controls>
    </div>
</div>

<div class="row">
    <div class="col">
        <span ng-if='items.length == 4'>We have 4 blogs</span>
    </div>
</div>



